
.h1SectionOneFour {
    padding: 1em;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
}
.para {
    padding: 2em;
    background-color: #00263b;
    color: #fff;
    text-align: center;
}