.mainOfHomePageSectionThree {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  min-height: 100vh;

  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/Docker-Containers.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .card {
    background: none;
    color: #fff;
    border: none;
  }
}
