.mainOfHomePageSectionTwo {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 2em;
    img {
        border-radius: 1em;
    }
    h2 {
        font-size: large;
        font-weight: bold;
        color: orange;
    }
    .vision_mission {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }
    button {
        background-color: orange;
    }
    button:hover {
        background-color: orangered;
        color: #fff;
    }
}