.h1Partners {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}
.Partners {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}
.img {
    height: 100px;
    width: 100px;
}