.mainOfRequestCallBack {
  min-height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/03.jpg");
    height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 3rem 1rem;

  .h1Request {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    input {
      height: 2.5em;
      width: 30%;
      border-radius: 1em;
      padding-inline: 1em;
      outline: none;
    }

    button {
      height: 2.5em;
      width: 30%;
      border-radius: 1em;
      cursor: pointer;
      background-color: orange;
      font-weight: bold;
      color: #fff;
    }
    button:hover {
      background-color: orangered;
      color: #000;
    }
  }
}
