.aboutUsContent {
  padding: 2rem 1rem;
}

.h1AboutUs {
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 1em;
  text-align: center;
}

.p_h1AboutUs {
  padding: 1.5em;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
}

.aboutUsImageDiv {
  width: 50%;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 1em;
  overflow: hidden;
}

.aboutUsImg {
  width: 100%;
  height: auto;
  display: block;
}
